/* Khối trái */
.container {
    width: 1350px;
    min-width: 1200px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 30px;
}

.container .row {
    width: 100%;
}

.container  p > a {
    text-decoration: none;
    font-size: 14px;
}
.container  p {
    margin: 0;
    padding: 0;
}
.title {
    padding: 15px 0;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}
.title-left {
    display: flex;
    align-items: center;
}
.title-left h4 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}
.title-left li {
    list-style: none;
    font-size: 13px;
    margin-right: 10px;
    color: #1877F2;
} 

.title-left button {
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    font-size: 13px;
    color: #1877F2;
}
.title-right {
    display: flex;
}
.title-right > button {
    font-size: 13px;
    padding: 5 10px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    background-color: #1877F2;
    border: 0;
    outline: 0;
    margin-left: 10px;
}
.info-other {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-other p {
    margin: 20px 0;
    text-decoration: none;
    font-size: 14px;
}

.icon-list {
    margin-bottom: 20px;
}
    
.info-other .icon-list img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin: 5px;
}
.info-other .icon-list img:nth-child(1) {
    border-color: red;
}
/* Phần khối bảo hành */
.baohanh {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 10px;
}
.baohanh img {
    width: 15%;
    height: 70px;
}
.baohanh .top div, .baohanh .bottom div {
    width: 50%;
    display: flex;
    padding: 10px;
}
.baohanh p, div {
    font-size: 15px;
} 
.baohanh p span {
    color: #1877F2;
}
.baohanh div p {
    margin: 0 10px;
    padding: 0;
}
.baohanh .top {
    display: flex;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

/* Phần khối phải - giá chi tiết */
.chi-tiet-gia {
    width: 100%;
}

.chi-tiet-gia p {
    margin: 5px 0; 
}
.chi-tiet-gia p a {
    color: #1877F2;
} 
.chi-tiet-gia a {
    text-decoration: none; 
    color:#ffffff;
}

.chi-tiet-gia h5 {
    font-size: 16px;
    margin: 10px 0;
}
.chi-tiet-gia h5 b {
    font-size: 20px;
    color: #d0021c;
}

.chi-tiet-gia h5 s {
    color: #717171;
}

.chi-tiet-gia h5 span {
    color: #d0021c;
}

.chi-tiet-gia button {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    color: white;
    background-color: #fb6e2e;
    border: 0;
    border-radius: 5px;
    margin: 10px 0;
}

.chi-tiet-gia p.hotline {
    width: 100%;
    text-align: center;
}

.uu-dai {
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ddd;
}
.uu-dai h6 {
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    padding: 10px;
    background-color: #f6f6f6;
    border-radius: 5px 5px 0 0;
}
.uu-dai p {
    padding: 10px;
}
.chi-tiet-gia .diem {
    display: flex;
    background-color: #fffbe5;
    border-radius: 20px;
    padding: 3px;
    width: 320px;
    align-items: center;
    justify-content: space-between;
}

.chi-tiet-gia .diem img {
    width: 25px;
    height: 25px;
    margin: 0 5px;
}

/* Khối qr ggplay appstore */

.qr-link {
    background-color: #f6f6f6;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.qr-link i {
    font-size: 11px;
}
.qr-link-text {
    text-align: center;
    font-size: 16px;
}
.qr-link-text p {
    font-size: 15px;
}
.qr-link-text h5 img {
    width: 35px;
    
}
.qr-link .down {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}
.qr-link .down button {
    border: 0;
    width: 150px;
    margin: 0;
    padding: 0;
}
.qr-link .down button img {
    width: 100%;
}

/* Thẻ cấu hình sản phẩm */
.cau-hinh {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.cau-hinh p {
    margin-bottom: 10px;
}
.cau-hinh h4 {
    font-size: 20px;
    margin-bottom: 10px;
}
.cau-hinh table {
    width: 100%;
}
tr.odd {
    background-color: #f6f6f6; /* Màu nền cho dòng lẻ */
}

tr.even {
    background-color: #ffffff; /* Màu nền cho dòng chẵn */
}
table tr td {
    padding: 10px 10px;
    font-size: 14px;
}
table td:first-child {
    width: 160px; /* Độ rộng của cột 1 */
}
.btn-xemthem {
    border-radius: 5px;
    border: 1px solid #1877F2;
    color: #1877F2;
    padding: 10px;
    width: 80%;
    margin: 10px auto;
    background-color: unset;
    align-self: center;
}
.Ttsp a{
    text-decoration: none;
    font-size: 21px;
}
.Ttsp b{
    font-size: 21px; 
}
.Xemthem{
    width: 300px;
    border: 1px solid rgb(47, 128, 237);
    margin-left: 230px;
    border-radius: 6px;
}
.Xemthem a{
    margin-left: 100px;
}
.Danhgia{
    margin-top: 50px;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 3%;
    
}
.Danhgia h3{
    padding-top: 30px;
    padding-left: 30px;
   
}
.Danhgia ul{
    
    position: relative;
    left: -40px;
}
.Danhgia li{
    list-style: none;
    
}
.saotong{
    display: flex;
    margin-left: 30px;
    font-weight: bold;
    font-size: 20px;
}
.xuongtientrinh{
    
    flex-wrap: wrap;
    margin-left: 30px;
}
.chinhthanhtientrinh{
    position: relative;
    top:3px;
}
.saotong p{
    color: rgb(255, 159, 0);
}
.anhdg{
    display: flex;
    margin-left: 30px;
}
.anhdg img{
    width: 120px;
    height: 110px;
    border-radius: 5%;
    
}
.cmt{
    margin-left: 30px;
    margin-top: 30px;
}
.cmt b{
    margin-right: 20px;
}
.fa-heart{
    margin-left: 30px;
}
.cmt li{
    margin-top: 7px;
}
.cmt img{
    width: 100px;
    height: 90px;
}
.Chinhhr{
    width: 650px;
    margin-left: 30px;
}
.Xemdg{
    display: flex;
}
.xemviet{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    margin-right: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
}
.xemviet a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-left: 60px;
}

.Bl{
    position: relative;
    top:40px;
    border: 1px solid rgb(228, 228, 228); 
    border-radius: 8px;
    margin-bottom: 30px;
}
.Blt b{
    font-size: 20px;
    margin-left: 30px;
}
.Bl input   {
    position: relative;
    
    width: 700px;
    height:130px ;
    border-radius: 10px;
    margin-left: 10px;
    
}
.Bl1{
    margin-left: 30px;
    
}
.Bl1 a{
    text-decoration: none;
    color: black;
    
    
}
.Bl1 i{
    margin-left: 20px;
}
.Qtv{
    border: 1px solid rgb(247, 247, 247);
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    margin-bottom: 20px;
}
.Qtv b{
    position: relative;
    top:10px;
    margin-left: 30px;
    
    
}
.Qtv a{
    
margin-left: 30px;   
    
    
}

.Qtv p{
    
    margin: 10px 30px 10px;
}
.Bl2{
    margin-left: 30px;
}
.Bl2 a{
    text-decoration: none;
    color: black;
}
.Bl2 i{
    margin-left: 20px;
}

